.card {
    width: 100%;
    padding: 1rem;
    background-color: #F4F8FC;
  }
  @media (min-width: 768px) {
    .card {
      width: 500px;
    }
  }
  .selected {
    color: white !important;
    background-color: #62A7F8 !important;
  }
  .ques {
    font-size: 18px;
    font-weight: 500;
  }
  .optionBx {
    width: 100%;
  }
  .option {
    background-color: white;
    width: 100%;
    padding: .5rem 1rem;
    margin: 5px 0;
    border-radius: 5px;
  }